* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  padding: 20px;
  transition: background-color 1s ease, color 1s ease;
}

body.dark {
  background-color: #121212;
  color: #f0f0f0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #8e2de2, #4a00e0);
  color: aqua;
  padding: 10px 20px;
  border: 2px solid aqua;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: background 1s ease, color 1s ease;
}
.nav-sys {
  display: flex;
  align-items: center;
}
.nav.dark {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #00bcd4;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0097a7;
}
.toggle {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle::before {
  content: '☀️';
  content: '🌙';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, content 0.3s ease;
}

.toggle.press {
  background-color: #00bcd4;
}

.toggle.press::before {
  content: '☀️';
  transform: translateX(30px);
}
.intro{
  width: fit-content;
  height: fit-content;
  border: black solid 5px;
  padding: 7px;
}
h1 {
 font-size: 50px;
 margin-bottom: 15px;
}
